@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb;
  --color-primary-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #d1d5db;
  --color-base-content: #1f2937;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #2563eb;
  --color-primary-content: #ffffff;
  --color-base-100: #000000;
  --color-base-200: #000000;
  --color-base-300: #1a1a1a;
  --color-base-content: #f3f4f6;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  background-color: var(--color-base-200);
}